<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="stylesheet" href="../stylesheets/countrieslink.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/countries">Countries</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="{{url}}">{{text}}</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <br>
      <!-- Example row of columns -->
      <form action="{{upload_url}}" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-12 editf2" style="margin-top:20px">
              <table style="width=250px">
                <tr>
                  <td> University: </td>
                  <td> <input id="styled" type="text" name="name" placeholder="University name" required/> </td>
                </tr>
                <tr>
                  <td> University Name (Short): </td>
                  <td> <input id="styled" type="text" name="short_name" placeholder="Short name" required/> </td>
                </tr>
                <tr>
                  <td> Country: </td>
                  <td><select name="country" required>
                      <option value=> Select Country </option>
                      <option value="Australia"> Australia </option>
                      <option value="Canada"> Canada </option>
                      <option value="China"> China </option>
                      <option value="Germany"> Germany </option>
                      <option value="Hong Kong"> Hong Kong </option>
                    </select></td>
                </tr>
                <tr>
                  <td> State: </td> <!--ideally gives choices based on country option !-->
                  <td> <input id="styled" type="text" name="state" required/></td>
                </tr>
                <tr>
                  <td> Exchange Type: </td> 
                  <td> <input id="styled" type="text" name="exchange_type" placeholder="If applicable"/></td>
                </tr>
                <tr>
                  <td> Academic Calendar: </td> <!--should change to Sem 1:? Sem 2: ?, must change school model !-->
                  <td> <input id="styled" type="text" name="calendar" required/></td>
                </tr>
                <tr>
                  <td> Recommended Faculty: </td> 
                  <td><input type="checkbox" name="faculty" value="FoS"> Faculty of Science<br>
                      <input type="checkbox" name="faculty" value="SoC"> School of Computing</td>
                </tr>
                <tr>
                  <td> Modules offered: </td> <!--url of university modules page !-->
                  <td> <input id="styled" type="url" name="modules" required/></td>
                </tr>
                <tr>
                  <td> Image of university: </td>
                  <td> <input type="file" name="img" accept="image/*" required /></td>
                <tr>
                  <td>About:</td>
                  <td><div><textarea id="styled" placeholder="Click to enter introduction to the school" name="abtschool" cols="50" rows="10" required></textarea></div></td>
                </tr>
                <tr><td><input type="submit" value="Add University"></td></tr>
              </table>
            </div>
          </div>
          
        </form>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
