<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Contact Us</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main2.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#">Countries</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="https://ivle.nus.edu.sg/api/login/?apikey=7265pvtX25EZZQkAOOCx1&url=http://localhost:8080/">Login</a></li>
          <li class="active"><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12">
          <h2 align="justify"><br/>
          <strong>Chua Ka Yi Ong</strong><br/>
          </h2>
          <p align="justify">a0114620@nus.edu.sg<br /></p>


          <h2 align="justify"><br/>
          <strong>Yap Ying Ying</strong><br/>
          </h2>
          <p align="justify">a0113761@nus.edu.sg<br /></p>
          <hr>

          <p align="justify">Visit the <a href="http://orbital.comp.nus.edu.sg/">NUS Orbital</a> website for more information about this module.</p>

        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
