<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Countries</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="stylesheet" href="../stylesheets/countrieslink.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/countries">Countries</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="{{url}}">{{text}}</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <br>
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/australia.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>Australia</strong></h2>
            <form action="/university?school=ANU" method="get">
              <button type="submit" name="school" value="ANU" class="btn btn-default">ANU</button>
            </form>
            <form action="/university?school=A" method="get">
              <button type="submit" name="school" value="A" class="btn btn-default">A</button>
            </form>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/canada.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>Canada</strong></h2>
            <form action="/university?school=aus" method="get">
              <button type="submit" name="school" value="aus" class="btn btn-default">aus</button>
            </form>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/china.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>China</strong></h2>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/germany.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>Germany</strong></h2>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/hongkong.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>Hong Kong</strong></h2>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/newzealand.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>New Zealand</strong></h2>
            <p><a href="#">School Name</a></p>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/southkorea.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>South Korea</strong></h2>
            <p><a href="#">School Name</a></p>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/sweden.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>Sweden</strong></h2>
            <p><a href="#">School Name</a></p>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/usa.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>United States of America</strong></h2>
            <p><a href="#">School Name</a></p>
          </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
