<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Edit Review</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="stylesheet" href="../stylesheets/commentbox.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/countries">Countries</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="{{url}}">{{text}}</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <br>

      <!-- Example row of columns -->
      <form action="/editreview" method="post" id="reviewform">
          <input type="hidden" name="reviewid" class="form-control" value="{{reviewid}}">
          <div class="row">
            <div class="col-md-12 editf2" style="margin-top:20px">
              <table style="width=250px">
                <tr>
                  <td> Name: </td>
                  <td> {{ review.author }} </td>
                </tr>


                <!-- <tr>
                  <td> NUS faculty: </td>
                  <td> 
                      {% if fac == "FoS" %}
                      <select name="faculty" class="fac" id="fac" required>
                        <option value=> Select Faculty </option>
                        <option selected="selected" value="FoS"> Faculty of Science </option>
                        <option value="SoC"> School of Computing </option>
                      </select>
                      {% else %}
                      <select name="faculty" class="fac" id="fac" required>
                        <option value="FoS"> Faculty of Science </option>
                        <option selected="selected" value="SoC"> School of Computing </option>
                      </select>
                      {% endif %}
                  </td>
                </tr>-->
                <tr>
                  <td> NUS faculty: </td>
                  <td> 
                    {% if review.faculty == "FoS" %}
                      <input type="text" class="fac" id="fac" name="faculty" value="Faculty of Science" required>
                    {% else %}
                      <input type="text" class="fac" id="fac" name="faculty" value="School of Computing" required>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td> Major: </td>
                  <td>
                    <input type="text" class="maj" name="major" id="maj" required value="{{review.major}}">
                  </td>
                </tr>
                <tr>
                  <td> Year: </td>
                  <td> <input id="styled" type="number" name="year" min="2000" max="2050" value="{{review.year}}" required/></td>
                </tr>
                <tr>
                  <td> Semester: </td>
                  <td>
                    <input type="text" name="semester" value="{{review.semester}}">
                  </td>
                </tr>
                
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 editf2">
              <p> <strong>Ratings</strong></p>
              <table style="width:300px">
                <tr>
                  <td> Overall: </td>
                  {% if review.overall_rating == 1 %}
                  <td>
                    <input type="radio" checked name="overall" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="5"> 5
                  </td>
                  {% elif review.overall_rating == 2 %}
                  <td>
                    <input type="radio" name="overall" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" checked name="overall" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="5"> 5
                  </td>
                  {% elif review.overall_rating == 3 %}
                  <td>
                    <input type="radio" name="overall" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" checked  name="overall" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="5"> 5
                  </td>
                  {% elif review.overall_rating == 4 %}
                  <td>
                    <input type="radio" name="overall" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" checked name="overall" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="5"> 5
                  </td>
                  {% elif review.overall_rating == 5 %}
                  <td>
                    <input type="radio" name="overall" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" checked name="overall" required value="5"> 5
                  </td>
                  {% endif %}
                </tr>
                <tr>
                  <td> Cost: </td>
                  {% if review.cost_rating == 1 %}
                  <td>
                    <input type="radio" checked name="cost" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="5"> 5
                  </td>
                  {% elif review.cost_rating == 2 %}
                  <td>
                    <input type="radio" name="cost" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" checked name="cost" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="5"> 5
                  </td>
                  {% elif review.cost_rating == 3 %}
                  <td>
                    <input type="radio" name="cost" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" checked name="cost" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="5"> 5
                  </td>
                  {% elif review.cost_rating == 4 %}
                  <td>
                    <input type="radio" name="cost" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" checked name="cost" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="5"> 5
                  </td>
                  {% elif review.cost_rating == 5 %}
                  <td>
                    <input type="radio" name="cost" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" checked name="cost" required value="5"> 5
                  </td>
                  {% endif %}
                </tr>
                <tr>
                  <td> Student Life: </td>
                  {% if review.life_rating == 1 %}
                  <td>
                    <input type="radio" checked name="life" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="life" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="life" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="life" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="life" required value="5"> 5
                  </td>
                  {% elif review.life_rating == 2 %}
                  <td>
                    <input type="radio" name="life" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" checked name="life" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="life" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="life" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="life" required value="5"> 5
                  </td>
                  {% elif review.life_rating == 3 %}
                  <td>
                    <input type="radio" name="life" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="life" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" checked name="life" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="life" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="life" required value="5"> 5
                  </td>
                  {% elif review.life_rating == 4 %}
                  <td>
                    <input type="radio" name="life" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="life" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="life" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" checked name="life" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="life" required value="5"> 5
                  </td>
                  {% elif review.life_rating == 5 %}
                  <td>
                    <input type="radio" name="life" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="life" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="life" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="life" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" checked name="life" required value="5"> 5
                  </td>
                  {% endif %}
                </tr>
                <tr>
                  <td> Academics: </td>
                  {% if review.academics_rating == 1 %}
                  <td>
                    <input type="radio" checked name="academics" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="5"> 5
                  </td>
                  {% elif review.academics_rating == 2 %}
                  <td>
                    <input type="radio" name="academics" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" checked name="academics" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="5"> 5
                  </td>
                  {% elif review.academics_rating == 3 %}
                  <td>
                    <input type="radio" name="academics" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" checked name="academics" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="5"> 5
                  </td>
                  {% elif review.academics_rating == 4 %}
                  <td>
                    <input type="radio" name="academics" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" checked name="academics" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="5"> 5
                  </td>
                  {% elif review.academics_rating == 5 %}
                  <td>
                    <input type="radio" name="academics" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" checked name="academics" required value="5"> 5
                  </td>
                  {% endif %}
                </tr>
              </table>
            </div>
            <div class="col-md-6 editf2">
              <p> <strong>Estimated Expenditure</strong></p>
              <table style="width=250px">
                <tr>
                  <td> Total: </td>
                  <td> S$ <span id="totalcost"></span><!--<input type="number" name="totalcost" min="0" id="totalcost" required/> !--></td>
                </tr>
                <tr>
                  <td> Accommodation: </td>
                  <td> S$ <input type="number" name="accomcost" min="0" id="accomcost" value="{{review.accommodation}}" required/> </td>
                </tr>
                <tr>
                  <td> Food: </td>
                  <td> S$ <input type="number" name="foodcost" min="0" id="foodcost" value="{{review.food}}" required/> </td>
                </tr>
                <tr>
                  <td> Transport: </td>
                  <td> S$ <input type="number" name="transportcost" min="0" id="transportcost" value="{{review.transport}}" required/> </td>
                </tr>
                <tr>
                  <td> Academic needs: </td>
                  <td> S$ <input type="number" name="acadcost" min="0" id="acadcost" value="{{review.academic_needs}}" required/> </td>
                </tr>
                <tr>
                  <td> Others: </td>
                  <td> S$ <input type="number" name="othercost" min="0" id="othercost" value="{{review.others}}" required/> </td>
                </tr>
              </table>
            </div>
            <hr>
            <div class="col-md-6 editf2">
              <p> <strong>Module Mappings</strong></p>
              <table style="width=250px">
                <tr>
                  <td> SEP Module </td>
                  <td> SEP Module credits </td>
                  <td> NUS Module </td>
                  <td> NUS Module MCs </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod1" id="mod1"> </td>
                  <td> <input type="number" min="0" name="cred1"> </td>
                  <td> <input type="text" name="nmod1"> </td>
                  <td> <input type="number" min="0" name="mc1"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod2" id="mod2"> </td>
                  <td> <input type="number" min="0" name="cred2"> </td>
                  <td> <input type="text" name="nmod2"> </td>
                  <td> <input type="number" min="0" name="mc2"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod3" id="mod3"> </td>
                  <td> <input type="number" min="0" name="cred3"> </td>
                  <td> <input type="text" name="nmod3"> </td>
                  <td> <input type="number" min="0" name="mc3"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod4" id="mod4"> </td>
                  <td> <input type="number" min="0" name="cred4"> </td>
                  <td> <input type="text" name="nmod4"> </td>
                  <td> <input type="number" min="0" name="mc4"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod5" id="mod5"> </td>
                  <td> <input type="number" min="0" name="cred5"> </td>
                  <td> <input type="text" name="nmod5"> </td>
                  <td> <input type="number" min="0" name="mc5"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod6" id="mod6"> </td>
                  <td> <input type="number" min="0" name="cred6"> </td>
                  <td> <input type="text" name="nmod6"> </td>
                  <td> <input type="number" min="0" name="mc6"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod7" id="mod7"> </td>
                  <td> <input type="number" min="0" name="cred7"> </td>
                  <td> <input type="text" name="nmod7"> </td>
                  <td> <input type="number" min="0" name="mc7"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod8" id="mod8"> </td>
                  <td> <input type="number" min="0" name="cred8"> </td>
                  <td> <input type="text" name="nmod8"> </td>
                  <td> <input type="number" min="0" name="mc8"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod9" id="mod9"> </td>
                  <td> <input type="number" min="0" name="cred9"> </td>
                  <td> <input type="text" name="nmod9"> </td>
                  <td> <input type="number" min="0" name="mc9"> </td>
                </tr>
                <tr>
                  <td> <input type="text" name="mod10" id="mod10"> </td>
                  <td> <input type="number" min="0" name="cred10"> </td>
                  <td> <input type="text" name="nmod10"> </td>
                  <td> <input type="number" min="0" name="mc10"> </td>
                </tr>
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 editf2">
              <p><strong>Enter your review here:</strong></p>
              <div><textarea id="styled" placeholder="Click to enter" name="reviewcontents" rows="10" required>{{review.content}}</textarea></div>
            </div>
          </div>
          <button type="submit" class="btn btn-default" name='school' value="{{query}}">Submit Review</button>
        </form>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>

    </div> <!-- /container -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.js"></script>
    <script type="text/javascript" src="../js/editscript.js"></script>
  </body>
</html>
