<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
      </div><hr>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>NUSXchange</h1>
        <p class="lead">Explore your options<br>
        Learn from seniors' experiences<br>
        Embark on the exchange of your lifetime</p>
        <!--<p><a class="btn btn-lg btn-success" href="#">Get started today</a></p>-->
      </div>
      <hr>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4 editborder">
          <h2></h2>
          <a href="/about"><img src="../images/About.png" class="img-responsive editimg" style="margin: 0 auto;"/></a>
          <p class="editf"><a href="/about">About</a></p>
        </div>
        <div class="col-lg-4 editborder">
          <h2> </h2>
          <a href="/countries"><img src="../images/Countries.png" class="img-responsive editimg" style="margin: 0 auto;"/></a>
          <p class="editf"><a href="/countries">Countries</a></p>
       </div>
        <div class="col-lg-4 editborder">
          <h2></h2>
          <img src="../images/Search.jpg" class="img-responsive editimg" style="margin: 0 auto;"/>
          <p class="editf"><a href="/adduniversity">Temp</p>
        </div>
      </div><hr>

      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4 editborder" style="text-align: center">
          <h2></h2>
          <a href="{{url}}"><img src="../images/nuslogo.gif" class="img-responsive editimg" style="margin: 0 auto;"/></a>
          <p class="editf"><a href="{{url}}">{{ text }}</a></p>
       </div>
        <div class="col-lg-4 editborder" style="text-align: center">
          <h2></h2>
          <a href="/contact"><img src="../images/Contact Us.png" class="img-responsive editimg" style="margin: 0 auto;"/></a>
          <p class="editf"><a href="/contact">Contact Us</a></p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
