<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Search</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
        <div class="masthead">
          <img src="../images/logo.png" />
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="countries">Countries</a></li>
            <li><a class="active" href="/search">Search</a></li>
            <li><a href="{{url}}">{{text}}</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>

          <form action="/searchresults">
          <p class="editf2" style="margin-top:20px">Search:
           <input name="keyword" size='30' style="border-radius:5px" placeholder="Enter a country or school">
            <input class="btn btn-danger" type="submit" value="Search">
          </p>
          <hr>
          <hr>
          <h2>Filters</h2>
          <div class="row">
            <div class="col-lg-2"><h4><strong>Countries</strong><h4>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4"><h4><strong>Cost</strong><h4>
            </div>
            <div class="col-lg-4">
              <h4><strong>NUS Faculties:</strong></h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 editf2">
              <p><input type="checkbox" name="country" value="asia">Asia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Europe">Europe</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="MiddleEast">Middle East</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Africa">Africa</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Americas">Americas</p>
              <br>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Australia">Australia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Austria">Austria</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Belgium">Belgium</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Canada">Canada</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="China">China</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Croatia">Croatia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Denmark">Denmark</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Estonia">Estonia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Finland">Finland</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="France">France</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Germany">Germany</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="HongKong">Hong Kong</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Hungary">Hungary</p>
            </div>
            <div class="col-lg-2 editf2">
              <p><input type="checkbox" name="country" value="japan">Japan</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Latvia">Latvia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Luthuania">Lithuania</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Mexico">Mexico</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Netherlands">Netherlands</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Newzealand">New Zealand</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Norway">Norway</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Poland">Poland</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Romania">Romania</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Singapore">Singapore</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="South Africa">South Africa</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Spain">Spain</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Sweden">Sweden</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Switzerland">Switzerland</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Taiwan">Taiwan</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="Turkey">Turkey</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="UnitedKingdom">unitedkingdom</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="UnitedStatesofAmericas">United States of America</p>
            </div>
            <div class="col-lg-4 editf2">
              <p><input type="checkbox" name="cost" value="1">S$0 to S$6000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="2">S$6000 to S$7000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="3">S$7000 to S$8000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="4">S$8000 to S$9000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="5">S$9000 to S$10,000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="6">S$10,000 to S$11,000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="7">Above S$11,000</p>
              <br>
            </div>
            <div class="col-lg-4 editf2">
              <p><input type="checkbox" name="course" value="AsS">Faculty of Arts and Social Sciences</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="BiZ">School of Business</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="SoC">School of Computing</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="DeN">Faculty of Dentistry</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="SdE">School of Design and Environment</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="FoE">Faculty of Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="FoL">Faculty of Law</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="SoM">Yong Loo Lin School of Medicine</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="CoM">Yong Siew Toh Conservatory of Music</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="FoS">Faculty of Science</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="UsP">University Scholars Programme</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="YnC">Yale-NUS College</p>
            </div>
          </div>
        </form>
        </div>
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>
    </div>


    </div> <!-- /container -->


  </body>
</html>
