<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NUSXchange - {{ school.school_name_short }}</title>

  <!-- Bootstrap core CSS -->
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="../stylesheets/main.css" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <div class="container">

        <div class="masthead">
          <img src="../images/logo.png" />
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="countries">Countries</a></li>
            <li><a class="active" href="/search">Search</a></li>
            <li><a href="{{url}}">{{url_linktext}}</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>

        <form action="/searchresult">
          <p class="editf2" style="margin-top:20px">Search:
           <input name="keyword" size='30' style="border-radius:5px" placeholder="Enter a country or school">

            <input type="hidden" name="school" value="{{school.school_name_short}}">
            <input class="btn btn-danger" type="submit" value="Search">
          </p>
          <hr>
          <h2>Filters</h2>
          <div class="row">
            <div class="col-lg-2"><h4><strong>Countries</strong><h4>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4"><h4><strong>Cost</strong><h4>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 editf2">
              <p><input type="checkbox" name="country" value="asia">Asia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="europe">Europe</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="middleeast">Middle East</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="africa">Africa</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="americas">Americas</p>
              <br>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="austrlia">Australia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="austria">Austria</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="belgium">Belgium</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="canada">Canada</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="china">China</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="croatia">Croatia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="denmark">Denmark</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="estonia">Estonia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="finland">Finland</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="france">France</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="germany">Germany</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="hongkong">Hong Kong</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="hungary">Hungary</p>
            </div>
            <div class="col-lg-2 editf2">
              <p><input type="checkbox" name="country" value="japan">Japan</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="latvia">Latvia</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="luthuania">Lithuania</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="mexico">Mexico</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="netherlands">Netherlands</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="newzealand">New Zealand</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="norway">Norway</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="poland">Poland</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="romania">Romania</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="singapore">Singapore</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="southafrica">South Africa</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="spain">Spain</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="sweden">Sweden</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="switzerland">Switzerland</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="taiwan">Taiwan</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="turkey">Turkey</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="unitedkingdom">unitedkingdom</p>
              <p style="margin-top:-10px"><input type="checkbox" name="country" value="usa">United States of America</p>
            </div>
            <div class="col-lg-4 editf2">
              <p><input type="checkbox" name="cost" value="1">S$0 to S$6000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="2">S$6000 to S$7000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="3">S$7000 to S$8000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="4">S$8000 to S$9000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="5">S$9000 to S$10,000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="6">S$10,000 to S$11,000</p>
              <p style="margin-top:-10px"><input type="checkbox" name="cost" value="7">Above S$11,000</p>
              <br>
              <h4><strong>Course:</strong></h4>
              <p><input type="checkbox" name="course" value="architecture">Architecture</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ass">Arts and Social Sciences</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ba">Business Administration(Accountancy)</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="bad">Business Administration</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ce">Computer Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ban">Business Analytics</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="cs">Computer Science</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="is">Information Systems</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="d">Dentistry</p>
            </div>
            <div class="col-lg-4 editf2">
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="id">Industrial Design</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ed">Environmental Studies</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ulp">Undergraduate Law Programme</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="med">Medicine</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="mus">Music</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="nur">Nursing</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="pha">Pharmacy</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="pfm">Project and Facilities Management</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="re">Real Estate</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="sci">Science</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="eng">Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="bie">Biomedical Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="che">Chemical Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="cie">Civil Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="egs">Engineering Science</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ene">Environmental Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ele">Electrical Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="ise">Industrial and Systems Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="mse">Materials Science & Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="mee">Mechanical Engineering</p>
              <p style="margin-top:-10px"><input type="checkbox" name="course" value="usp">University Scholars Programme</p>
            </div>
          </div>
        </form>
      </div>
    </body>
</html>
