<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Search Results</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/countries">Countries</a></li>
          <li class="active"><a href="/search">Search</a></li>
          <li><a href="{{url}}">{{text}}</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <!-- Example row of columns -->
      <div class="row">
          <div class="col-md-12">
            <h3><strong>Search Results:</strong></h3><br>
            <table class="tabbord">
              <tr>
                <td class="searcha searchhead tabhead"> University</td>
                <td class="searchb searchtab searchhead tabhead">Total Estimated Expenditure</td>
                <td class="searchb searchtab searchhead tabhead">Recommended Faculty(ies)</td>
              </tr>
              {% for sch in results %} 
                <tr>
                  <td class="tabbord">
                    <p class="editf2"><a href="/university?school={{sch.field('short_name').value}}">  {{sch.field('name').value}} </a></p>
                  </td>
                  <td class="searchtab tabbord editf2">S$ {{sch.field('total_expenditure').value}}
                  </td>
                  <td class="searchtab tabbord editf2">{{sch.field('faculty').value}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
      </div>


      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>


    </div> <!-- /container -->


  </body>
</html>
