<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Countries</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="stylesheet" href="../stylesheets/commentbox.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png" />
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/countries">Countries</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="{{url}}">{{text}}</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <br>

      <!-- Example row of columns -->
      <form action="/submittedreview" method="post">
          <input type="hidden" name="reviews_name" class="form-control" value="{{query}}">
          <div class="row">
            <div class="col-md-12 editf2" style="margin-top:20px">
              <table style="width=250px">
                <tr>
                  <td> Name: </td>
                  <td> {{ author }} </td>
                </tr>
                <tr>
                  <td> NUS faculty: </td>
                  <td>       
                    <select name="faculty" class="fac" id="fac" required>
                      <option value=0> Select Faculty </option>
                      <option value="FoS"> Faculty of Science </option>
                      <option value="SoC"> School of Computing </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td> Major: </td>
                  <td>
                    <select name="major" id="maj" required>
                      <option value=0> Select Major </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td> Year: </td>
                  <td> <input id="styled" type="number" name="year" min="2000" max="2050"required/></td>
                </tr>
                <tr>
                  <td> Semester: </td>
                  <td>
                    <select name="semester" required>
                      <option value=0> Select Semester </option>
                      <option value="1"> Semester 1 </option>
                      <option value="2"> Semester 2 </option>
                      <option value="1 and 2"> Semester 1 and 2 </option>
                    </select>
                  </td>
                </tr>
                
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 editf2">
              <p> <strong>Ratings</strong></p>
              <table style="width:300px">
                <tr>
                  <td> Overall: </td>
                  <td>
                    <input type="radio" name="overall" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="overall" required value="5"> 5
                  </td>
                </tr>
                <tr>
                  <td> Cost: </td>
                  <td>
                    <input type="radio" name="cost" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="cost" required value="5"> 5
                  </td>
                </tr>
                <tr>
                  <td> Student Life: </td>
                  <td>
                    <input type="radio" name="life" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="life" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="life" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="life" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="life" required value="5"> 5
                  </td>
                </tr>
                <tr>
                  <td> Academics: </td>
                  <td>
                    <input type="radio" name="academics" required value="1"> 1
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="2"> 2
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="3"> 3
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="4"> 4
                  </td>
                  <td>
                    <input type="radio" name="academics" required value="5"> 5
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-6 editf2">
              <p> <strong>Expenditure</strong></p>
              <table style="width=250px">
                <tr>
                  <td> Total: </td>
                  <td> S$ <input type="number" name="totalcost" min="0" required/> </td>
                </tr>
                <tr>
                  <td> Accommodation: </td>
                  <td> S$ <input type="number" name="accomcost" min="0" required/> </td>
                </tr>
                <tr>
                  <td> Food: </td>
                  <td> S$ <input type="number" name="foodcost" min="0" required/> </td>
                </tr>
                <tr>
                  <td> Transport: </td>
                  <td> S$ <input type="number" name="transportcost" min="0" required/> </td>
                </tr>
                <tr>
                  <td> Academic needs: </td>
                  <td> S$ <input type="number" name="acadcost" min="0" required/> </td>
                </tr>
                <tr>
                  <td> Others: </td>
                  <td> S$ <input type="number" name="othercost" min="0" required/> </td>
                </tr>
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 editf2">
              <p><strong>Enter your review here:</strong></p>
              <div><textarea id="styled" placeholder="Click to enter" name="reviewcontents" rows="10" required></textarea></div>
            </div>
          </div>
          <button type="submit" class="btn btn-default" name='school' value="{{query}}">Submit Review</button>
        </form>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/reviewscript.js"></script>
  </body>
</html>
