<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NUSXchange - Countries</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link rel="stylesheet" href="../stylesheets/countrieslink.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <img src="../images/logo.png"  class="img-responsive"/>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/countries">Countries</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="{{url}}">{{text}}</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <br>
      <!-- Example row of columns -->

      {% for country in anocountries %}
      <div class="row">
          <div class="col-lg-4">
            <img src="../images/{{country}}.png" class="countriesimg">
          </div>
          <div class="col-lg-8 countriesborder editf2">
            <h2><strong>{{ countries[country] }}</strong></h2>
            

            <table style="margin-bottom:20px">
            {% for school in schools[country] %}
              <tr>
                {% if admin %}
                  <td width="5%" valign="top">
                    <a id="del" class="btn-cr btn-cross" href="/deleteuni?school={{school.school_name_short}}&uniid={{school.key.urlsafe()}}">x</a>
                  </td>
                {% endif%}
                <td width="85%" word-wrap: break-word class="editf2" >
                    <a href="/university?school={{school.school_name_short}}">{{school.school_name}}</a>
                </td>
                {% if admin %}
                <td width="15%" valign="top">
                  <form action="/edituni" method="get">
                    <button type="submit" name="school" value="{{school.school_name_short}}" class="btn btn-default">Edit University</button>
                  </form>
                </td>
                {% endif%}
              </tr>
            {% endfor %} 
            </table>
          </div>
      </div>
      <br>
      {% endfor %}
    

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; NUS Orbital 2014 - NUSXchange</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="../js/deletealert.js"></script>
  </body>
</html>
