<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NUSXchange - {{ school.school_name_short }}</title>

  <!-- Bootstrap core CSS -->
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="../stylesheets/main.css" />
  <link rel="stylesheet" href="../stylesheets/commentbox.css" />
  <link rel="stylesheet" href="../stylesheets/reviewbox.css" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <div class="container">

        <div class="masthead">
          <img src="../images/logo.png"  class="img-responsive"/>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="countries">Countries</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="{{url}}">{{url_linktext}}</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>


        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <div>
              <hr>
              <p>
                <strong>Type of Exchange: </strong>{{school.exchange_type}}<br>
                <strong>Academic Calendar: </strong> {{school.academic_calendar}}<br>
                <strong>Recommended Faculty: </strong> {% for fac in school.recommended_fac %} 
                {{fac}} {% endfor %}
              </p>
              <hr>
              <p><strong>Ratings</strong><br>
                Overall: 
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{Overall}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ overall * 20 }}%" id="overall">
                    <span>{{ overall }}</span>
                  </div>
                </div>
                Cost: 
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ cost }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cost * 20 }}%" id="overall">
                    <span>{{ cost }}</span>
                  </div>
                </div>
                Life:
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ life }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ life * 20 }}%" id="overall">
                    <span>{{ life }}</span>
                  </div>
                </div>
                Academics:
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ academics }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ academics * 20 }}%" id="overall">
                    <span>{{ academics }}</span>
                  </div>
                </div>
              </p>
              <hr>
              <p><strong>Expenditure</strong></p>
              <p>
                Total expenditure: ${{ total }} <br>
                Accommodation: ${{ accommodation }} <br>
                Food: ${{ food }} <br>
                Transport: ${{ transport }} <br>
                Academic needs: ${{ academic_needs }} <br>
                Others: ${{ others }} <br>
              </p>
              <hr>
              <p><a href="{{mod_offered}}" class="btn btn-default btn-success btn-style">Modules Offered</a></p>
              <p>
                <form action="/modulemappings?school={{school.school_name_short}}" method="get">
                  <button type="submit" name="school" value="{{school.school_name_short}}" class="btn btn-default btn-success btn-style">Module Mappings</button>
                </form>
              </p>

            </div>
          </div>
          <div class="col-md-8" style="margin-top:20px">
            <img class="imgsize" src="{{pic}}" align="right"/> 
            <h2 align="justify">
              <strong>{{school.school_name}}</strong>
            </h2>
            <h3>{{school.state}}, {{school.country}}</h3>
            <hr>
            <p class="editf2" align="justify">
              {{school.content}}
            </p>

          </div>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
          <li><a href="#comments" data-toggle="tab">Comments</a></li>
        </ul>

        <!-- Tab panes -->
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="reviews">
            {% if reviews %}
              {% for review in reviews %}
              <div class="review">
                <div class="row">
                  <div class="col-md-12">
                    <div class="reviewBox">
                      <h5> {{review.author}} ({{review.major}}) </h5> 
                      <h5> {{school.school_name}}, {{school.country}} </h5>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="reviewLeft">
                          <h5> Exchange in {{review.year}}, Sem {{review.semester}} </h5>
                          <hr>
                          <strong>Ratings</strong><br>
                          Overall:
                          <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{review.overall_rating}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.overall_rating * 20 }}%" id="overall">
                              <span>{{ review.overall_rating }}</span>
                            </div>
                          </div>
                          Cost:
                          <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ review.cost_rating }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.cost_rating * 20 }}%">
                              <span>{{ review.cost_rating }}</span>
                            </div>
                          </div>
                          Life:
                          <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ review.life_rating }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.life_rating * 20 }}%">
                              <span>{{ review.life_rating }}</span>
                            </div>
                          </div>
                          Academics:
                          <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ review.academics_rating }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.academics_rating * 20 }}%">
                              <span>{{ review.academics_rating }}</span>
                            </div>  
                          </div>
                          <div>
                          <hr>
                          <strong>Expenditure</strong><br>
                            <h5> Total expenditure: S${{ review.total_expenditure }} </h5>
                            <h5> Accommodation: S${{ review.accommodation }} </h5>
                            <h5> Food: S${{ review.food }} </h5>
                            <h5> Transport: S${{ review.transport }} </h5>
                            <h5> Academic needs: S${{ review.academic_needs }} </h5>
                            <h5> Others: S${{ review.others }} </h5>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="reviewRight">
                          <strong>Review</strong><br>
                          <p> {{review.content}} </p>
                          {% if admin %}
                            <table>
                              <tr>
                                <td>
                                  <form action="/deletereview" method="get">
                                    <input type="hidden" name="school" value="{{school.school_name_short}}">
                                    <input type="hidden" name="reviewid" value = "{{review.key.urlsafe()}}">
                                    <input class="btn btn-default" id="del" type="submit" value="Delete Review">
                                  </form>
                                </td>
                                <td>
                                  <form action="/editreview" method="get">
                                    <input type="hidden" name="school" value="{{school.school_name_short}}">
                                    <input type="hidden" name="reviewid" value = "{{review.key.urlsafe()}}">
                                    <input class="btn btn-default" type="submit" value="Edit Review">
                                  </form>
                                </td>
                              </tr>
                            </table>
                          {% elif review.author == use %}
                            <table>
                              <tr>
                                <td>
                                  <form action="/deletereview" method="get">
                                    <input type="hidden" name="school" value="{{school.school_name_short}}">
                                    <input type="hidden" name="reviewid" value = "{{review.key.urlsafe()}}">
                                    <input class="btn btn-default" id="del" type="submit" value="Delete Review">
                                  </form>
                                </td>
                                <td>
                                  <form action="/editreview" method="get">
                                    <input type="hidden" name="school" value="{{school.school_name_short}}">
                                    <input type="hidden" name="reviewid" value = "{{review.key.urlsafe()}}">
                                    <input class="btn btn-default" type="submit" value="Edit Review">
                                  </form>
                                </td>
                              </tr>
                            </table>
                          {% endif %}
                       </div>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            {% else %}
              <div class="review">
                <h4> <p>There are currently no reviews. Be the first to contribute! </p></h4>
              </div>
            {% endif %}
            {% if use %}
              <form action="/tosubmitreview?school={{school.school_name_short}}" method="get">
                <button type="submit" class="btn btn-default marg" name='school' value="{{school.school_name_short}}">Submit Review</button>
              </form>
            {% else %}
              <h4>You do not have permission to post a review. <a class="btn btn-default" href="{{ url }}">{{ url_linktext }}</a> to post.</h4>
            {% endif %}

          </div>


          <div class="tab-pane" id="comments">
            <div class="detailBox">
              <div class="actionBox">
                <ul class="commentList">
                  {% for comment in comments %}
                  <li>
                    <div class="commentText">
                    {% if admin %}
                    <a class="btn-cr btn-cross" id="del" href="/deletecomment?school={{school.school_name_short}}&commentid={{comment.key.urlsafe()}}">x</a>
                    {% elif comment.author == use %}
                    <a class="btn-cr btn-cross" id="del" href="/deletecomment?school={{school.school_name_short}}&commentid={{comment.key.urlsafe()}}">x</a>
                    {% endif %}
                      {% if comment.author %}
                      <b>{{ comment.author.nickname() }}</b> wrote:
                      {% else %}
                      <b>An anonymous person wrote:</b>
                      {% endif %}
                        <div class="container">
                          <p>{{ comment.content }}</p>
                        </div><span class="date sub-text">{{ comment.date.date().strftime('%d-%m-%Y') }} {{comment.date.time().strftime('%H:%M:%S')}}</span>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            {% if use %}
            <form action="/university?school={{school.school_name_short}}" method="post">
              <input type="hidden" name="comments_name" class="form-control" value="{{school.school_name_short}}">
              <div>
                <textarea required onKeyDown="limitText(this.form.content,this.form.countdown,500);" onKeyUp="limitText(this.form.content,this.form.countdown,500);" id="styled" placeholder="Click to enter your comments" name="content" rows="3" maxlength="500"></textarea><br>
                <font size="2">(Maximum characters: 500)<br>
                You have <input readonly class="countdown" type="text" name="countdown" size="3" value="500"> characters left.</font>
              </div>
              <button type="submit" class="btn btn-default" name='school' value="{{school.school_name_short}}">Post Comment</button>
            </form>
            {% else %}
              <h4><strong>You do not have permission to comment. <a class="btn btn-default" href="{{ url }}">{{ url_linktext }}</a> to comment.</strong></h4>
            {% endif %}

          </div>

        </div>

        <script type="text/javascript">
        jQuery(document).ready(function ($) {
          $('#tabs').tab();
        });
        </script>  

        <!-- Site footer -->
        <div class="footer">
          <p>&copy; NUS Orbital 2014</p>
        </div>

      </div> <!-- /container -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../bootstrap/js/bootstrap.js"></script>
      <script src="../js/deletealert.js"></script>
      <script language="javascript" type="text/javascript">
        function limitText(limitField, limitCount, limitNum) {
          if (limitField.value.length > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
          } else {
            limitCount.value = limitNum - limitField.value.length;
          }
        }
      </script>
    </body>
    </html>
