<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NUSXchange - School Name</title>

  <!-- Bootstrap core CSS -->
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="../stylesheets/main.css" />
  <link rel="stylesheet" href="../stylesheets/commentbox.css" />
  <link rel="stylesheet" href="../stylesheets/reviewbox.css" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      <div class="container">

        <div class="masthead">
          <img src="../images/logo.png" />
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="countries">Countries</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="https://ivle.nus.edu.sg/api/login/?apikey=7265pvtX25EZZQkAOOCx1&url=http://localhost:8080/">Login</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>


        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <img src="../images/exchange.png" /> 
            <p>Image of School</p>
            <div>
              <p>Type of Exchange</p>
              <p>Academic Calendar</p>
              <p>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{Overall}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ overall * 10 }}%" id="overall">
                    <span>{{ overall }}</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ Cost }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cost * 10 }}%">
                    <span class="sr-only">{{ cost }}</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ life }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ life * 10 }}%">
                    <span class="sr-only">{{ life }}</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ academics }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ academics * 10 }}%">
                    <span class="sr-only">{{ academics }}</span>
                  </div>
                </div>
                <div>
                          <h4> Expenditure </h4>
                          <h5> Total expenditure: {{ total }} </h5>
                          <h5> Accommodation: {{ accommodation }} </h5>
                          <h5> Food: {{ food }} </h5>
                          <h5> Transport: {{ transport }} </h5>
                          <h5> Academic needs: {{ academic_needs }} </h5>
                          <h5> Others: {{ others }} </h5>
                        </div>
              </p>
              <p><a href="#" class="btn btn-default btn-success">Modules Offered</a></p>
              <p><a href="#" class="btn btn-default btn-success">Module Mappings</a></p>
            </div>

          </div>
          <div class="col-md-8">
            <h2 align="justify">
              <strong>Korea University</strong>
            </h2>
            <h2>Seoul, South Korea
            </h2>
            <p align="justify">Korea University is a nonsectarian, private research university located primarily in Seoul, South Korea, and one of the SKY universities, a historical acronym used in South Korea to refer to Seoul National University, Korea University, and Yonsei University.</p>

            <p align="justify">Korea University (KU) launches its "Vision 2005" program, aimed at improving the standard of education and quality of student life. With 14 colleges spread over three campuses in two cities, Korea University is the largest private institution of higher education in the country. Its reputation for quality education is unmatched by any other institution in the nation. Almost all the courses are taught in the Korean Language.</p>

          </div>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
          <li><a href="#comments" data-toggle="tab">Comments</a></li>
        </ul>

        <!-- Tab panes -->
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="reviews">
            {% for review in reviews}                
            <div class="review">
              <div class="row">
                <div class="col-md-12">
                  <div class="reviewBox">
                    <h6> {{review.author}} ({{review.author.major}}) </h6> 
                    <h6> {{review.university}}, {{review.university.country}} </h6>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="reviewLeft">
                        <h6> Exchange in {{review.year}}, Sem {{review.semester}} </h6>
                        <p>
                          <ol>
                            {% for mod in modules%}
                            <li> {{ mod.exchange_module }} </li>
                          </ol>
                        </p>

                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{review.overall}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.overall * 10 }}%" id="overall">
                            <span>{{ review.overall }}</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ review.cost }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.cost * 10 }}%">
                            <span class="sr-only">{{ review.cost }}</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ review.life }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.life * 10 }}%">
                            <span class="sr-only">{{ review.life }}</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ review.academics }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ review.academics * 10 }}%">
                            <span class="sr-only">{{ review.academics }}</span>
                          </div>  
                        </div>
                        <div>
                          <h4> Expenditure </h4>
                          <h5> Total expenditure: {{ review.total }} </h5>
                          <h5> Accommodation: {{ review.accommodation }} </h5>
                          <h5> Food: {{ review.food }} </h5>
                          <h5> Transport: {{ review.transport }} </h5>
                          <h5> Academic needs: {{ review.academic_needs }} </h5>
                          <h5> Others: {{ review.others }} </h5>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="reviewRight">
                       <p> {{review.contents()}} </p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           {% end for %}
           <a class="btn btn-default" href="{{ url }}">Submit review</a>
         </div>


         <div class="tab-pane" id="comments">
          <div class="detailBox">
            <div class="actionBox">
              <ul class="commentList">
                {% for comment in comments %}
                <li>
                  <div class="commentText">
                    {% if comment.author %}
                    <b>{{ comment.author.nickname() }}</b> wrote:
                    {% else %}
                    <b>An anonymous person wrote:</b>
                    {% endif %}
                    <p>{{ comment.content|escape }}</p><span class="date sub-text">{{ comment.date.date() }}</span>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <form action="/university" method="post">
            <input type="hidden" name="comments_name" class="form-control">
            <div><textarea id="styled" placeholder="Click to enter your comments" name="content" rows="3"></textarea></div>
            <div><button type="submit" class="btn btn-default">Post Comment</button>
            </form>

            <a class="btn btn-default" href="{{ url }}">{{ url_linktext }}</a>
          </div>

        </div>

        <script type="text/javascript">
        jQuery(document).ready(function ($) {
          $('#tabs').tab();
        });
        </script>  

        <!-- Site footer -->
        <div class="footer">
          <p>&copy; Company 2013</p>
        </div>

      </div> <!-- /container -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../bootstrap/js/bootstrap.js"></script>
    </body>
    </html>
